{% load static %}
{% if use_static_bundles %}
<link rel="stylesheet" href="{% static 'css/bundles/crm-core.css' %}">
<link rel="stylesheet" href="{% static 'css/bundles/crm-app.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/tokens.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/components.css' %}">
<link rel="stylesheet" href="{% static 'css/wireframe-tokens.css' %}">
<link rel="stylesheet" href="{% static 'css/wireframe-layout.css' %}">
<link rel="stylesheet" href="{% static 'css/wireframe-components.css' %}">
<link rel="stylesheet" href="{% static 'css/wireframe-pages.css' %}">
<link rel="stylesheet" href="{% static 'css/packages.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-toggle.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive-pages.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive-complete.css' %}">
<link rel="stylesheet" href="{% static 'css/table-cards.css' %}">
<link rel="stylesheet" href="{% static 'css/toast.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/pages.css' %}">
<link rel="stylesheet" href="{% static 'css/crm-due-payments.css' %}">
<link rel="stylesheet" href="{% static 'css/crm-documents.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
{% endif %}
